###
# #%L
# Samples plugin for Fiji.
# %%
# Copyright (C) 2010 - 2021 Fiji developers.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###
# This package contains only links to samples, no plugins

File>Open Samples, "Malaria Sporozoites (9.2MB)", ij.plugin.URLOpener("http://fiji.sc/samples/_malaria_parasites.tif")
File>Open Samples, "First-instar brain (6.3MB)", ij.plugin.URLOpener("http://fiji.sc/samples/first-instar-brain.zip")
File>Open Samples, "Centipede Drawing (45KB)", ij.plugin.URLOpener("http://imagej.net/media/centipede-drawing.jpg")
File>Open Samples, "Centipede Mivart (43KB)", ij.plugin.URLOpener("http://imagej.net/media/centipede-mivart.png")
